{% extends 'base.html' %}


{%  block head %}
<title>design Products </title>
{% endblock %}


{%  block body %}

<div class="container">
<br>
<h1>design</h1>
<br>
{% for product in design_products %}
<div class="shadow-lg border border-dark p-5 bg-white panel panel-primary">
    <h2> {{ product.product_name }} </h2>
    <small>estimated price {{product.est_price }} with rating {{product.average_rating}} by {{product.no_of_time}} persons</small>

    <br>
    <p style="white-space:pre-wrap"> decription about the product(to be added in data base) </p>
    <a class="btn btn-dark" href='#'>buy</a>
    <a class="btn btn-dark" href='#'>like</a>
</div>
<br>
{% endfor %}

</div>
{% endblock %}